Source: pd-cyclone
Section: sound
Priority: optional
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders: Hans-Christoph Steiner <hans@eds.org>
Build-Depends: debhelper (>= 7.0.50~),
               quilt (>= 0.46-7~),
               puredata
Standards-Version: 3.9.1
Homepage: http://suita.chopin.edu.pl/~czaja/miXed/externs/cyclone.html

Package: pd-cyclone
Architecture: any
Depends: ${shlibs:Depends},
         pd,
         pd-libdir,
         ${misc:Depends}
Description:  a Pd library of clones of Max/MSP 4.5 objects
 Cyclone is a library of PureData classes, bringing some level of
 compatibility between Max/MSP and Pd environments. Although being itself in
 the early sta ge of development, it is meant to eventually become part of a
 much larger project, aiming at unification and standardization of computer
 musician's tools.
 .
 In its current form, cyclone is mainly for people using both Max and Pd, and
 thus wanting to develop cross-platform patches. In this respect, cyclone has
 much in common with Thomas Grill's flext, and flext-based externals. See
 Thomas' page. While flext enables developing new cross-platform classes,
 cyclone makes existing classes cross-platform.
 .
 Cyclone also comes handy, somewhat, in the task of importing Max/MSP patches
 into Pd. Do not expect miracles, though, it is usually not an easy task.
